<!DOCTYPE html>
<html>
<head>
  <title>Subscribe - DEV@Deakin</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="center-container">
    <div class="logo-container">
      <img src="images/image.png" alt="Deakin University Logo" class="logo">
    </div>
    <h1>Subscribe to DEV@Deakin</h1>
    <p class="subtitle">SIGN UP FOR OUR DAILY INSIDER</p>
    <form action="/subscribe" method="POST">
      <input type="text" name="first_name" placeholder="First Name" required>
      <input type="text" name="last_name" placeholder="Last Name" required>
      <input type="email" name="email" placeholder="Email Address" required>
      <button type="submit">Subscribe</button>
    </form>
  </div>
</body>
</html>
